.financial-positions {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.align-right.el-datalist__item-cell {
  text-align: right !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end;
}

.align-right.el-datalist__header-cell {
  justify-content: right;
}

.align-right > .el-datalist__header-cell__label {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  flex: 0 0 auto;
  text-align: right;
}

.align-center.el-datalist__item-cell {
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
