.financial-positions {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.align-right.el-datalist__item-cell {
  text-align: right !important;
  display: block !important;
}

.align-center.el-datalist__item-cell {
  text-align: center !important;
  display: block !important;
}
